<%= simple_form_for [@pin, Comment.new] do |f| %>
  <p>
    <%= f.input :content, label: false, as: :text, input_html:{rows: "3", class: 'contentbox'}%>
  </p>
  <p> <%= f.submit "Create Comment", class: "btn btn-primary" %></p>
<%end%>